<%= form_for [:admin, @location] do |f| %>
<% if @location.errors.any? %>
<div id="error_explanation">
	<h2><%= t 'errors.header.female', :resource => 'localidad', :count => @location.errors.count %></h2>
	<ul>
		<% @location.errors.each do |attr, msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<fieldset class="gray">
	<div class="clearfix">
		<%= f.label :name %>
		<div class="input">
			<%= f.text_field :name %>
		</div>
	</div>
	<div class="actions">
		<%= f.submit 'Guardar', :class => "btn primary" %>
	</div>
</fieldset>
<% end %> 