<% content_for :stylesheets do %>
  <%= stylesheet_link_tag :datatables %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag :datatables, :admin_index %>
<% end %>

<!-- The master panel with admin grid -->
<div id="content-inner">
  <h1>Administraci&oacute;n</h1>
  <div id="tabs" style="width: 100%">
    <ul>
      <% if can? :manage, Property %><li><a href="#properties">Inmuebles</a></li><% end %>
      <% if can? :manage, RealEstate %><li><a href="#real-estates">Inmobiliarias</a></li><% end %>
      <% if can? :manage, User %><li><a href="#users">Usuarios</a></li><% end %>
      <% if can? :manage, Currency %><li><a href="#currencies">Monedas</a></li><% end %>
      <% if can? :manage, Location %><li><a href="#locations">Localidades</a></li><% end %>
      <% if can? :manage, Operation %><li><a href="#operations">Operaciones</a></li><% end %>            
      <% if can? :manage, Type %><li><a href="#types">Tipos de Inmuebles</a></li><% end %>
      <% if can? :manage, PoiType %><li><a href="#poi_types">Tipos de Punto de Interes</a></li><% end %>
    </ul>
    <% if can? :manage, Currency -%>
    <div id="currencies">
      <%= render "admin/currencies/tab", :currencies => @currencies %>
    </div>
    <% end -%>
    
    <% if can? :manage, Location -%>
    <div id="locations">
      <%= render "admin/locations/tab", :locations => @locations %>
    </div>
    <% end -%>
    
    <% if can? :manage, Operation -%>
    <div id="operations">
      <%= render "admin/operations/tab", :operations => @operations %>
    </div>
    <% end -%>
    
    <% if can? :manage, Property -%>
    <div id="properties">
      <%= render "admin/properties/tab", :properties => @properties %>
    </div>
    <% end -%>
    
    <% if can? :manage, RealEstate -%>
    <div id="real-estates">
      <%= render "admin/real_estates/tab", :real_estates => @real_estates %>
    </div>
    <% end -%>
    
    <% if can? :manage, Type -%>
    <div id="types">
      <%= render "admin/types/tab", :types => @types %>
    </div>
    <% end -%>
    
    <% if can? :manage, User -%>
    <div id="users">
      <%= render "admin/users/tab", :users => @users %>
    </div>
    <% end -%>
    
    <% if can? :manage, PoiType -%>
    <div id="poi_types">
      <%= render "admin/poi_types/tab", :poi_types => @poi_types %>
    </div>
    <% end -%>
  </div>
</div>

<script>
var usersUrl = '<%= admin_users_path %>';
</script>