<div>
    <p><%= property.full_address %></p>
    <p><%= property.type.name %> en <%= property.operation.name %></p>
    <div style="text-align: center">
        <p> <%= link_to((property.is_favorite? ? 'Quitar de favoritos' : 'Agregar a favoritos'),  "/properties/favorite/#{property.id}", :remote => true) %>  |  <%= link_to 'Ver detalles', "/properties/#{property.id}" %></p>
    </div>
</div>