<% content_for :stylesheets do %>
  <%= stylesheet_link_tag :homepage, :gmaps4rails %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag :homepage, :gmaps4rails %>
<% end %>

<div class="banner">
  <h3>Encuentre el hogar de sus sueños</h3>
  <p>
    click-inmobiliario.com es el lugar para empezar tu b&uacute;squeda de inmuebles, 
    ya sea para comprar o vender. Tenemos las herramientas que necesitas para 
    tomar una decisi&oacute;n correcta.
  </p>
</div>

<div id="content-inner">
  <div class="search">
  <%= form_tag('/', :id => 'search') do %>
    <fieldset class="gray">
      <div class="clearfix">
        <%= label_tag :location_id, 'Localidad' %>
        <div class="input">
          <%= select_tag :location_id, options_from_collection_for_select(Location.order("name").all, :id, :name) %>
        </div>
      </div>
      <div class="clearfix">
        <%= label_tag :type_id, 'Tipo de inmueble' %>
        <div class="input">
          <%= select_tag :type_id, options_from_collection_for_select(Type.order("name").all, :id, :name) %>
        </div>
      </div>
      <div class="clearfix">
        <%= label_tag :operation_id, 'Operación' %>
        <div class="input">
          <%= select_tag :operation_id, options_from_collection_for_select(Operation.order("name").all, :id, :name) %>
        </div>
      </div>
      <div class="clearfix">
        <%= label_tag :price, 'Precio máximo' %>
        <div class="input">
          <%= text_field_tag :price %>
        </div>
      </div>
      <div class="clearfix">
        <%= label_tag :currency_id, 'Moneda' %>
        <div class="input">
          <%= select_tag :currency_code, options_from_collection_for_select(Currency.order("name").all, :code, :name) %>
        </div>
      </div>      
      <div class="actions">
        <%= submit_tag 'Buscar', :class => "btn primary" %>
      </div>
    </fieldset>
  <% end %> 

  </div>
  <%= gmaps4rails(@properties_json) %>
</div>

<div id="no-results"><p>La b&uacute;squeda no produjo resultados</p></div>