<% content_for :javascripts do %>
  <%= javascript_include_tag 'galleria/galleria-1.2.6.min.js', :properties %>
<% end %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag :property %>
<% end %>
<div id="content-inner">
	<div>
    <div id="title"><h1><%= @property.address %>, <%= @property.location.name %></h1></div>
    <div class="favorite" id="favorite">
		<% if @property.is_favorite? %>
			<%= link_to(image_tag('favorite.png', :alt => 'Eliminar de Favoritos', :size => "24x24", :mouseover => 'add_to_favorite.png', :title => 'Eliminar de Favoritos'), url_for(:action => :favorite, :id => @property.id, :referer => :show), :remote => true) %>
		<% else %>
			<%= link_to(image_tag('add_to_favorite.png', :alt => 'Agregar a Favoritos', :size => "24x24", :mouseover => 'favorite.png', :title => 'Agregar a Favoritos'), url_for(:action => :favorite, :id => @property.id, :referer => :show), :remote => true) %>
		<% end %>
</div>
	</div>
  <div id="gallery">
  		<% if @property.photos.empty? %>
  			<%= image_tag 'no-image.gif' %>
  		<% else %>
	        <% @property.photos.each do |photo| %>
	            <%= image_tag photo.file.url %>
	        <% end %>
	    <% end %>
	</div>

	<div id="property">
        <h2><%= @property.type.name %> en <%= @property.operation.name %></h2>
        <div><h2>C&oacute;digo: <%= @property.code %></h2></div>
        <div><h2>Precio en <%= Currency.find_by_code(@property.price.currency_as_string).name.downcase %>: <%= @property.price.format(:no_cents => true, :thousands_separator => '.', :decimal_mark => ',') %></h2></div>
        <div style="text-align: right;"><h3><a href="#" id="contact-link">Contactar</a></h3></div>
		<h5><%= @property.description %></h5>
	</div>

	<%= render :partial => 'nearest_pois', :locals => { :property => @property, :nearest_pois => @nearest_pois }%>
</div>

<%= render :partial => 'contact' %>

<script>
$(document).ready(function() {
	$('#contact-link').click(function() {
    	<% if user_signed_in? %>
			$("#contact").dialog('open');
		<% else %>
			window.location = '<%= new_user_session_path %>'
		<% end %>
	});
});
</script>