<fieldset class="gray">
  <%= button_to "Agregar una nueva moneda", new_admin_currency_path, :method => "get" %>
</fieldset>
<% datatable "currencies-table", ["Moneda", "Código", ""], :class => "selectable" do -%>
  <% currencies.each do |currency| -%>
    <tr>
      <td><%= currency.name %></td>
      <td><%= currency.code %></td>
      <td>
        <%= button_to "Editar", edit_admin_currency_path(currency), :method => :get %>
        <%= button_to "Borrar", {:action=>"destroy", :controller=>"admin/currencies", :id => currency}, :confirm => "¿Está seguro que desea eliminar \nla moneda #{currency.name.upcase}?", :method => :delete %>
      </td>
    </tr>
  <% end -%>
<% end -%>
