<fieldset class="gray">
  <%= button_to "Agregar un nuevo usuario", new_admin_user_path, :method => "get" %>
</fieldset>
<% datatable "users-table", ["Nombre", "E-mail", "Role",""], :class => "selectable" do -%>
  <% users.each do |user| -%>
    <tr>
      <td><%= user.first_name %> <%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.role.name %></td>
      <td>
        <%= button_to "Editar", edit_admin_user_path(user), :method => :get %>
        <% unless current_user == user %>
        	<%= button_to "Borrar", {:action=>"destroy", :controller=>"admin/users", :id => user}, :confirm => "¿Esta seguro que desea eliminar \nel usuario #{user.first_name.upcase + ' ' + user.last_name.upcase}?", :method => :delete %>
     	<% end %>
      </td>
    </tr>
  <% end -%>
<% end -%>
