<%= nested_form_for [:admin, @property], :html=>{:multipart => true } do |f| %>
<% if @property.errors.any? %>
<div id="error_explanation">
	<h2><%= t 'errors.header.male', :resource => 'inmueble', :count => @property.errors.count %></h2>
	<ul>
		<% @property.errors.each do |attr, msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<fieldset class="gray">
	<div class="clearfix">
		<div class="clearfix">
			<%= f.label :real_estate_id %>
			<div class="input">
				<%= f.collection_select(:real_estate_id, RealEstate.order("name").all, :id, :name) %>
			</div>
		</div>
		<%= f.label :description %>
		<div class="input">
			<%= f.text_area :description %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label :code %>
		<div class="input">
			<%= f.text_field :code %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label :price %>
		<div class="input">
			<%= f.number_field :price %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label :currency_id %>
		<div class="input">
			<%= f.collection_select(:currency_id, Currency.order("name").all, :id, :name) %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label :address %>
		<div class="input">
			<%= f.text_field :address %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label :location_id %>
		<div class="input">
			<%= f.collection_select(:location_id, Location.order("name").all, :id, :name) %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label :type_id %>
		<div class="input">
			<%= f.collection_select(:type_id, Type.order("name").all, :id, :name) %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label :operation_id %>
		<div class="input">
			<%= f.collection_select(:operation_id, Operation.order("name").all, :id, :name) %>
		</div>
	</div>
	
	<%= f.fields_for :photos do |p|  %>
        <% if p.object.file? %>
            <div class="clearfix">
                <%= p.label :remove_file, 'Foto' %>
                <div class="input">
                    <%= image_tag(p.object.file.url, :width => "10%", :height => "10%") %>
                    <br />
                    <%= p.check_box :remove_file %> Borrar
                </div>
            </div>
        <% else %>
            <div class="clearfix">
                <%= p.label :file %>
                <div class="input">
                    <%= p.file_field :file, :style => 'width: auto;' %>
                    <%= p.link_to_remove image_tag('delete.png') %>
                </div>
            </div>
        <% end %>
	<% end %>
	<div class="clearfix">
		<%= f.link_to_add image_tag('add.png') + 'Agregar una nueva foto', :photos %>
	</div>

	<div class="actions">
		<%= f.submit 'Guardar', :class => "btn primary" %>
	</div>
</fieldset>
<% end %> 