<% content_for :javascripts do %>
  <%= javascript_include_tag :gmaps4rails %>
  <%= gmaps({})%>
  <%= javascript_include_tag "geocode.autocomplete" %>
<% end %>

<%= nested_form_for [:admin, @property], :html=>{:multipart => true } do |f| %>
<% if @property.errors.any? %>
<div id="error_explanation">
	<h2><%= t 'errors.header.male', :resource => 'inmueble', :count => @property.errors.count %></h2>
	<ul>
		<% @property.errors.each do |attr, msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<fieldset class="gray">
	<div class="clearfix">
		<div class="clearfix">
			<%= f.label :real_estate_id %>
			<div class="input">
				<%= f.collection_select(:real_estate_id, RealEstate.accessible_by(current_ability).order("name").all, :id, :name) %>
			</div>
		</div>
		<%= f.label :description %>
		<div class="input">
			<%= f.text_area :description %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label :code %>
		<div class="input">
			<%= f.text_field :code %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label :price %>
		<div class="input">
			<%= f.number_field :price, :value => @property.price.format(:no_cents => true, :symbol => false, :thousands_separator => false) %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label :currency_id %>
		<div class="input">
			<%= f.collection_select(:currency, Currency.order("name").all, :code, :name) %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label :address %>
		<div class="input">
			<%= f.text_field :address, :class => "geocode_autocomplete" %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label :location_id %>
		<div class="input">
			<%= f.collection_select(:location_id, Location.order("name").all, :id, :name) %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label :type_id %>
		<div class="input">
			<%= f.collection_select(:type_id, Type.order("name").all, :id, :name) %>
		</div>
	</div>
	<div class="clearfix">
		<%= f.label :operation_id %>
		<div class="input">
			<%= f.collection_select(:operation_id, Operation.order("name").all, :id, :name) %>
		</div>
	</div>
	
	<%= render :partial => 'photos', :locals => { :f => f } %>

	<div class="actions">
		<%= f.submit 'Guardar', :class => "btn primary" %>
	</div>
</fieldset>
<% end %> 