<% content_for :stylesheets do %>
  <%= stylesheet_link_tag :gmaps4rails %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag :gmaps4rails %>
<% end %>

<p id="notice"><%= notice %></p>

<%= gmaps4rails(@json) %>

<p>
  <b>Inmobiliaria:</b>
  <%= @property.real_estate.name %>
</p>

<p>
  <b>Descripci贸n:</b>
  <%= @property.description %>
</p>

<p>
  <b>C贸digo:</b>
  <%= @property.code %>
</p>

<p>
  <b>Precio:</b>
  <%= @property.price %>
</p>

<p>
  <b>Direcci贸n:</b>
  <%= @property.address %>
</p>

<p>
  <b>Localidad:</b>
  <%= @property.location.name %>
</p>

<p>
  <b>Tipo de inmueble:</b>
  <%= @property.type.name %>
</p>

<p>
  <b>Moneda:</b>
  <%= @property.currency.name %>
</p>

<p>
  <b>Tipo de operaci贸n:</b>
  <%= @property.operation.name %>
</p>


<%= link_to 'Editar', edit_admin_property_path(@property) %> |
<%= link_to 'Volver', admin_root_path(:anchor => 'properties') %>
