<% content_for :stylesheets do %>
  <%= stylesheet_link_tag :gmaps4rails %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag :gmaps4rails %>
<% end %>

<p id="notice"><%= notice %></p>

<%= gmaps4rails(@json) %>

<p>
  <b>Inmobiliaria:</b>
  <%= @property.real_estate.name %>
</p>

<p>
  <b>Descripción:</b>
  <%= @property.description %>
</p>

<p>
  <b>Código:</b>
  <%= @property.code %>
</p>

<p>
  <b>Precio:</b>
  <%= @property.price.format(:no_cents => true, :thousands_separator => '.', :decimal_mark => ',') %>
</p>

<p>
  <b>Dirección:</b>
  <%= @property.address %>
</p>

<p>
  <b>Localidad:</b>
  <%= @property.location.name %>
</p>

<p>
  <b>Tipo de inmueble:</b>
  <%= @property.type.name %>
</p>

<p>
  <b>Moneda:</b>
  <%= Currency.find_by_code(@property.price.currency_as_string).name %>
</p>

<p>
  <b>Tipo de operaci&oacute;n:</b>
  <%= @property.operation.name %>
</p>


<%= link_to 'Editar', edit_admin_property_path(@property) %> |
<%= link_to 'Volver', admin_root_path(:anchor => 'properties') %>
